doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title #{page.title}
        link(href="/css/index.css" rel="stylesheet")
        block css
    body
        block content
        block js
